body{
    background-image: url("https://i.pinimg.com/originals/69/73/64/6973647826c078a39a10b382e5309e4d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.col-md-4 p{
    font-family: 'Enriqueta', serif;

}
h2{
    font-family: 'Anton', sans-serif;
    color: coral;
}
span{
    color: cora ;
}
h1:hover{
    color: yellow;
}
button:hover {
  color: blue;

}
